<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.system.roleauths.dao.SRoleAuthDao">

    <!-- 结果映射集 -->
    <resultMap id="SRoleAuthMap" type="com.wing.system.roleauths.model.SRoleAuth">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="auth_id" jdbcType="VARCHAR" property="authId"/>
    </resultMap>

    <!-- 查询数据 -->
    <select id="querySRoleAuth" resultMap="SRoleAuthMap">
    <![CDATA[
        select
            id,
            role_id,
            auth_id
        from
            s_role_auths
        where
            1 = 1
    ]]>
    <if test="params.id != null">
    <![CDATA[
        and id = #{params.id}
    ]]>
    </if>
    <if test="params.roleId != null and params.roleId neq ''">
    <![CDATA[
        and role_id like concat('%', #{params.roleId}, '%')
    ]]>
    </if>
    <if test="params.authId != null and params.authId neq ''">
    <![CDATA[
        and auth_id like concat('%', #{params.authId}, '%')
    ]]>
    </if>
    <if test="sortname != null and sortorder != null">
        order by ${sortname} ${sortorder}
    </if>
    <if test="sortname != null and sortorder == null">
        order by ${sortname} asc
    </if>
    </select>

    <!-- 选择性插入数据 -->
    <insert id="insert" parameterType="com.wing.system.roleauths.model.SRoleAuth">
    <![CDATA[
        insert into s_role_auths
    ]]>
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
        <![CDATA[
            id,
        ]]>
        </if>
        <if test="roleId != null">
        <![CDATA[
            role_id,
        ]]>
        </if>
        <if test="authId != null">
        <![CDATA[
            auth_id,
        ]]>
        </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
        <![CDATA[
            #{id, jdbcType=INT},
        ]]>
        </if>
        <if test="roleId != null">
        <![CDATA[
            #{roleId, jdbcType=VARCHAR},
        ]]>
        </if>
        <if test="authId != null">
        <![CDATA[
            #{authId, jdbcType=VARCHAR},
        ]]>
        </if>
    </trim>
    </insert>

    <!-- 删除数据 -->
    <delete id="delete">
    <![CDATA[
        delete from s_role_auths where id = #{id}
    ]]>
    </delete>

    <!-- 根据权限ID，删除角色权限关系 -->
    <delete id="deleteByRoleAuth">
    <![CDATA[
        delete from s_role_auths where auth_id = #{authId} and role_id = #{roleId}
    ]]>
    </delete>

    <!-- 更新数据 -->
    <update id="update" parameterType="com.wing.system.roleauths.model.SRoleAuth">
    <![CDATA[
        update s_role_auths
    ]]>
    <set>
        <if test="id != null">
            <![CDATA[
            id = #{id, jdbcType=INT},
        ]]>
        </if>
        <if test="roleId != null">
            <![CDATA[
            role_id = #{roleId, jdbcType=VARCHAR},
        ]]>
        </if>
        <if test="authId != null">
            <![CDATA[
            auth_id = #{authId, jdbcType=VARCHAR},
        ]]>
        </if>
    </set>
    where id = #{id}
    </update>

    <!-- 根据ID获取数据 -->
    <select id="getSRoleAuthById" resultMap="SRoleAuthMap">
    <![CDATA[
        select
            id,
            role_id,
            auth_id
        from
            s_role_auths
        where
            id = #{id}
    ]]>
    </select>
</mapper>